.login-content{
	background: -webkit-linear-gradient(top, #94d1ee, #023880);
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.login-image{
	text-align: center;
	font-size: 80px;
	color: #fff;
	/*text-shadow: 1px 0 #fff, 0 1px #fff, 
    0 -1px #fff, -1px 0 #fff;*/
    padding: 10px 0 5px 0;
}
.login-logo-word{
	font-size: 30px;
	font-family: fantasy;
	font-weight:bold;
	margin: 0 0 10px 0;
}
.login-form{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
	padding: 10px 0;
}
.login-name{
}
.login-pwd{

}
.login-name-input{
	border-bottom: 1px solid #fff !important;
}
.login-input{
	border: none;
	background: transparent;
	padding: 10px 0;
	outline: none;
	color: #fff;
	width: 80%;
}
.login-icon{
	color: #fff;
	margin-right: 10px;
}
.login-submit{
	margin: 5% 0;
	width: 80%;
	outline: none;
	border: none;
	border-radius: 4px;
	padding: 10px 0;
	background: #0a4484;
	color: #fff;
}
.login-join{
	color: #fff;
}
.login-split{
	color: #fff;
	font-size: 16px;
	margin: 20px 0;
	position: relative;
	text-align: center;
}
.login-split:before {
	content: "";
	border-top: 1px solid #ededed;
	display: block;
	position: absolute;
	width: 80px;
	top: 8px;
	left: 10%;
}
.login-split:after {
	content: "";
	border-top: 1px solid #ededed;
	display: block;
	position: absolute;
	width: 80px;
	top: 8px;
	right: 10%;
}
.login-link{
	font-size: 42px;
	color: #fff;
	margin-bottom: 40px;
}
.login-link-icon{
	margin:0 20px;
}